body div.container section.filters {
    background-color: white;
    position: relative;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

body div.container section.filters button {
    font-size: 18px;
    color: black;
    background-color: #FF5A5F;
    position: absolute;
    top: 50%;
    right: 30px;
    height: 48px;
    width: 20%;
    margin-top: -24px;
    border: none;
    border-radius: 4px;
    min-width: fit-content;
}

body div.container section.filters button:hover {
    opacity: 0.9;
}

body div.container section.filters div.locations,
body div.container section.filters div.amenities {
    height: 100%;
    width: 25%;
    display: inline-block;
}

body div.container section.filters div.locations h3,
body div.container section.filters div.amenities h3 {
    margin: 15px 0 0;
    font-weight: 600;
    padding-left: 40px;
}

body div.container section.filters div.locations h4,
body div.container section.filters div.amenities h4 {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    padding-left: 40px;
}

body div.container section.filters div.locations {
    border-right: 1px solid #DDDDDD;
}

body div.container section.filters div.locations ul.popover,
body div.container section.filters div.amenities ul.popover {
    position: absolute;
    display: none;
    background-color: #FAFAFA;
    width: inherit;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    list-style-type: none;
    top: 70px;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
    min-width: fit-content;
}

body div.container section.filters div.locations ul,
body div.container section.filters div.amenities ul {
    list-style-type: none;
}

body div.container section.filters div.locations ul h2,
body div.container section.filters div.amenities ul h2 {
    font-size: 16px;
}

body div.container section.filters div.locations:hover ul.popover,
body div.container section.filters div.amenities:hover ul.popover {
    display: block;
}

@media screen and (max-width: 425px){
    body div.container section.filters div.locations h3,
    body div.container section.filters div.amenities h3,
    body div.container section.filters div.locations h4,
    body div.container section.filters div.amenities h4 {
        padding-left: unset;
    }
}
